@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
body{
	background: url("images/BG1.jpg") no-repeat fixed top right;
	
}
#container{
	width: 800px;
		margin: 0 auto;
	
}
.left{
	width: 380px;
	height: 200px;
	background-color:rgba(158,84,163,0.82);
	border-radius: 25px;
	float:left;
	margin: 0px 10px 0px 10px;
	padding: 30px 30px 30px 30px;
	border: dashed 3px rgba(240,240,240,1.00);
}
.right{
	width: 380px;
	height: 200px;
	background-color:rgba(158,84,163,0.82);
	border-radius: 25px;
	float:left;
	margin: 0px 0px 10px 0px;
	padding: 30px 30px 30px 30px;
	border: dashed 3px rgba(240,240,240,1.00);
	
}
footer{
	background-color: rgba(219,169,235,1.00);
	clear: both;
}
header > h1{
	text-align: center;
	color:ghostwhite
}		
nav{
}
	
article a:link{
		color:hotpink;
}
article a:hover{
	font-size:30px;
}
article a:visited{
	color:aqua;
}
article a:active{
	color:greenyellow;
}
.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}
#table1{
	border:2px thick;
	border-collapse: collapse;
}
